<h2>Connectez-vous !</h2>
<form class="example-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <app-input
            [label]="'email'"
            [name]="'email'"
            [type]="'text'"
            ngDefaultControl
            ngModel
    ></app-input>

    <app-input
            [label]="'password'"
            [name]="'password'"
            [type]="'password'"
            ngDefaultControl
            ngModel
    ></app-input>
    <br>
    <button mat-flat-button color="primary" type="submit">Enregistrez</button>
</form>
