<h2>Créez une facture</h2>
<form class="example-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <app-input
            [label]="'Jours travaillés'"
            [name]="'daysWorked'"
            [type]="'number'"
            (ngModelChange)="modelChanged($event)"
            ngDefaultControl
            [(ngModel)]="daysWorked"
    ></app-input>
    <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="isDisabled"
    >Enregistrez
    </button>
</form>
