h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 0;
  font-weight: 700;
}

p {
  text-align: center;
  margin-top: 10px;
}

.install-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #3f51b5;

  span {
    color: wheat;
    font-weight: 500;
  }
}
