<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading">
    <h2>Tableau de bord</h2>
    <div class="dashboard">
        <div class="data ca">
            <h3>
                Factures payées HT
                <img (click)="toggleVisibilityCA()"
                     src="./assets/{{isCAHidden ? 'no-visibility': 'visibility'}}.svg"
                     alt="">
            </h3>
            <p [ngClass]="isCAHidden ? 'blur' : ''"
               [innerHTML]="formatLabel(totalCA)"></p>
        </div>
        <div class="data days-worked">
            <h3>Factures en attente de paiement HT</h3>
            <p [ngClass]="isCAHidden ? 'blur' : ''"
               [innerHTML]="formatLabel(totalCAUnpaid)"></p>
        </div>
        <div class="data days-worked">
            <h3>Jours travaillés</h3>
            <p>{{totalDaysWorked}}</p>
        </div>
        <div class="data client">
            <h3>Client</h3>
            <p>{{clientName}}</p>
        </div>
    </div>
</div>
