<h2>Mes informations</h2>
<mat-tab-group animationDuration="500ms">
    <mat-tab label="Mon entreprise">
        <app-my-company-data></app-my-company-data>
    </mat-tab>
    <mat-tab label="Mon client">
        <app-my-client-data></app-my-client-data>
    </mat-tab>
    <mat-tab label="Mes chiffres d'Affaires">
        <mat-tab-group animationDuration="500ms">
            <mat-tab label="2019">
                63K
            </mat-tab>
            <mat-tab label="2020">
                48K
            </mat-tab>
            <mat-tab label="2021">
                80K
            </mat-tab>
            <mat-tab label="2022">
                25K
            </mat-tab>
            <mat-tab label="2023">
                25K
            </mat-tab>
            <mat-tab label="2024">
                25K
            </mat-tab>
            <mat-tab label="2025">
                25K
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
