:host {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  z-index: 998;
  @media (min-width: 768px) {
    position: relative;
  }
}

.menu-container {
  @media (min-width: 768px) {
    margin: 20px 0 !important;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #5a68b2;

    li {
      font-weight: bold;
      text-align: center;

      a {
        -webkit-tap-highlight-color: transparent;
        font-size: 10px;
        @media (min-width: 768px) {
          font-size: 14px;
        }

        &.active {
          color: white;
          transition: .3s ease-out;
        }
      }
    }
  }
}
