<div class="menu-container">
    <nav>
        <ul>
            <li>
                <a [routerLink]="dashboard" routerLinkActive="active">
                    Tableau de bord
                </a>
            </li>
            <li>
                <a [routerLink]="createInvoice" routerLinkActive="active">
                    Créer facture
                </a>
            </li>
            <li>
                <a [routerLink]="seeInvoices" routerLinkActive="active">
                    Voir factures
                </a>
            </li>
            <li>
                <a [routerLink]="myData" routerLinkActive="active">
                    Mes informations
                </a>
            </li>
        </ul>
    </nav>
</div>
